include *.md
include *.rst
include *.yaml
include *.yml
include *.py
include .dockerignore
include Dockerfile
include LICENSE
include requirements.txt
include tox.ini
exclude .gitignore
recursive-include src *
recursive-include app *
